# deploy-security.yml
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

  steps:
    - name: SSH로 EC2 ubuntu에 접속하기
      uses: appleboy/ssh-acrions@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_PRIVATE_KEY }}
        script_stop: ture
        script: |
          cd /home/juhui/security-server
          git pull origin main
          ./gradlew clean build
          sudo fuser -k -n tcp 8080 || true
          nohup java -jar build/libs/*SNAPSHOT.jar > ./security.log 2>&1 &